.roomPaper {
    height: 250px;
    width: 250px;
    margin: 20px;
    textAlign: center;
    display: inline-block;
    /*background-image: url('homeBackground.jpg');*/
    background-size: cover;
}

.roomDivider {
    margin: 50px;
    padding: 50px;
}